body {
  background-color: rgba(30, 27, 44, 0.9);
  font-family: Plus Jakarta Sans;
  color: rgba(245, 245, 245, 0.85);
}
section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}
header {
  margin: 0 auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)),
    url("../images/background-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
h1 {
  margin: 0;
  font-size: 112px;
  font-weight: 800;
  line-height: 1.25;
}
h2 {
  margin: 0;
  font-size: 32px;
  line-height: 2;
  letter-spacing: 5px;
  text-transform: capitalize;
}
h3 {
  margin: 0;
  font-size: 24px;
  line-height: 1.25;
  margin-bottom: 32px;
}
h5 {
  margin: 0;
  letter-spacing: 5px;
  font-weight: 800;
  color: #e2104f;
  text-transform: uppercase;
}

footer {
  background-image: linear-gradient(
      rgba(18, 16, 29, 0.8),
      rgba(18, 16, 29, 0.8)
    ),
    url("../images/footer-background-image3.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
footer a {
  color: #f5f5f5;
  opacity: 0.7;
  text-decoration: none;
  text-shadow: 1px 1px 2px rgba(119, 113, 113, 0.5);
}
footer h4 {
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 1.5;
}
footer p {
  margin-top: 0;
  font-family: "Poppins", serif;
  font-size: 14px;
}
section,
header {
  padding: 0;
}
section.primary {
  padding: 100px 150px;
  border-top: 10px solid rgba(18, 16, 29, 0.2);
  border-bottom: 10px solid rgba(18, 16, 29, 0.2);
  background-color: #12101d;
}
section.secondary {
  background-color: #1e1b2c;
  padding: 50px 0;
}
section.tertiary {
  background-color: #12101d;
  padding: 50px 0;
}
.text-center {
  text-align: center;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}
.hero-heading {
  margin-bottom: 36px;
  padding: 106px 0 284px;
}
.hero-subtitle {
  padding-top: 24px;
  padding-bottom: 48px;
}
.image-responsive {
  max-width: 100%;
  display: block;
}
.grid {
  display: grid;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
  gap: 48px;
}

.button-container {
  padding-top: 12px;
}
.btn {
  padding: 16px 32px;
  display: block;
  background-color: #e2104f;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  color: #f5f5f5;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.learn-button {
  border-radius: 5px;
  display: inline-block;
}

.why-image {
  border-radius: 12px;
}

.grid-3-columns {
  padding: 40px 100px 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 48px;
}
.card {
  max-width: 376px;
  border: 5px solid rgba(29, 27, 44, 0.5);
  border-radius: 10px;
}
.card-body {
  padding: 10px 20px 20px;
  background-color: rgba(204, 201, 220, 0.2);
}
.card-header {
  display: flex;
}
.card-img {
  width: 50%;
  height: auto;
}
.map {
  width: 100%;
  aspect-ratio: 1 /1;
}
.card h3 {
  margin: 10px 0 0;
  font-size: 22px;
}
.card h5 {
  letter-spacing: 2px;
  font-weight: 800;
  color: rgba(226, 16, 79, 0.8);
  text-transform: capitalize;
}
.card p {
  margin-top: 8px;
}
.tertiary p {
  font-family: "Playfair Display", serif;
  text-shadow: 1px 1px 2px rgba(119, 113, 113, 0.5);
}
.footer-grid {
  padding: 50px 100px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 64px;
}
.footer-links {
  line-height: 1.5;
}

@media (max-width: 900px) {
  h1 {
    font-size: 56px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 18px;
  }
  .hero-heading {
    padding: 54px 0 282px;
  }
  footer {
    background-image: linear-gradient(
        rgba(18, 16, 29, 0.85),
        rgba(18, 16, 29, 0.85)
      ),
      url("../images/footer-background-image2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  section.primary {
    padding: 50px 30px;
  }
  .btn {
    padding: 10px 20px;
    font-size: 10px;
  }
  .hero-subtitle {
    padding-top: 48px;
    padding-bottom: 72px;
  }
  .grid-2-columns {
    grid-template-columns: 1fr;
    gap: 12px;
    justify-items: center;
  }
  .why-text {
    padding: 25px 10px 0;
  }

  .grid-3-columns {
    grid-template-columns: 1fr;
  }
  .card {
    max-width: 376px;
  }

  .footer-grid {
    padding: 30px;
    grid-template-columns: 1fr;
    gap: 6px;
  }
}
@media (max-width: 1200px) {
  .grid-2-columns {
    padding: 50px 50px;
    gap: 24px;
    justify-items: center;
  }
  .why-text h2 {
    font-size: 28px;
  }
}
